.selectionWrapper{
    width: 75%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content:space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 22px;
}
@media only screen and (max-width: 700px) {
    .selectionWrapper{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
   
}
